@import "_base.scss";

.content {
    &__hero {
        .inline {
            display: inline;
        }
    }

    &__button {
        @include line-margin();
        &--add {
            width: 100px;
        }

        &--more {
            width: 100px;
        }
    }
}

.category {
    &__addBtn {
        margin-left: 3px;
    }
}
