@import "bulma/sass/utilities/initial-variables";

.header {
    margin-top: 12px;
    padding-left: 10px;
    position: sticky;
    top: 0px;
    z-index: 10;

    &__title {
        vertical-align: text-bottom;
    }
}

.menu {
    &__totalBalance {
        text-align: right;
    }
    &-label {
        &__signout {
            cursor: pointer;
        }
    }
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: unset;
    font-weight: bold;
    font-size: $size-7;
    a {
        color: $white;
    }
}
