@import "bulma/sass/utilities/initial-variables";

.header {
    margin: 10px 5px;
    width: 97.5%;
    display: inline-block;

    &__backIcon {
        display: inline;
    }

    &__signout {
        float: right;
    }
}

.navbar {
    background-color: unset;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: unset;
    font-weight: bold;
    font-size: $size-7;
    a {
        color: $white;
    }
}
