@import "bulma/sass/utilities/initial-variables";

.header {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 12px;
    padding-left: 10px;

    &__title {
        vertical-align: text-bottom;
    }
}

.menu {
    &__totalBalance {
        text-align: right;
    }
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: unset;
    font-weight: bold;
    font-size: $size-7;
    a {
        color: $white;
    }
}
