.more__content {
    max-width: 400px;
    margin: auto;

    &__category {
        &__title {
            font-weight: bold;
        }
        &__dropdown {
            display: inline-block;
        }
    }

    &__transaction {
        &__from {
            &__title {
                font-weight: bold;
            }
            &__dropdown {
                display: inline-block;
            }
        }

        &__to {
            &__title {
                font-weight: bold;
            }
            &__dropdown {
                display: inline-block;
            }
        }
    }

    &__date {
        &__title {
            font-weight: bold;
        }
        &__box {
            display: inline-block;
            width: 200px;
        }
    }

    &__amount {
        &__title {
            font-weight: bold;
        }
        &__box {
            display: inline-block;
            width: 200px;
        }
    }

    &__description {
        &__title {
            font-weight: bold;
        }
        &__box {
            display: inline-block;
            width: 200px;
            height: 100px;
        }
    }
}
