@import "_base.scss";

@mixin title-center {
    position: relative;
    display: inline-block;
    top: 7px;
    font-weight: bold;
    width: 100px;
}

.more {
    .field {
        margin: unset;
    }

    &__button {
        &--add {
            width: 100px;
        }
    }

    &__textArea {
        .input {
            height: 100px;
        }
    }
}
