@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
html {
    background-image: url("./assets/pics/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

html,
body,
button,
input,
select,
textarea {
    font-family: "Quicksand", sans-serif;
}
