@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

html {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

body {
    overflow-x: hidden;
    height: 100vh;
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: "Manrope", sans-serif;
}
